body{
  padding: 0px;
  margin: 0px;
}

.dibu {
  color: white;
  background-color:crimson;
  padding: 15px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 670px;
}