body {
  text-align: center;
}

.a1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 10px;
  width: 120px;
  position: absolute;
  top: 50px;
  left: 625px;
}

.a2 {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 30px;
  width: 100px;
  position: absolute;
  top: 40px;
  left: 635px;
}

.a3 {
  border-left: 3px solid black;
  border-right: 3px solid black;
  height: 50px;
  width: 70px;
  position: absolute;
  top: 30px;
  left: 650px;
}

.a4 {
  border-left: 4px solid black;
  border-right: 4px solid black;
  height: 70px;
  width: 40px;
  position: absolute;
  top: 20px;
  left: 665px;
}

.a5 {
  border-left: 3px solid black;
  border-right: 3px solid black;
  height: 90px;
  width: 0px;
  position: absolute;
  top: 10px;
  left: 685px;
}