body {
  padding: 0px;
  margin: 0px;
  width: auto;
}

.c1 {
  background-color: #922da3;
  height: 30px;
}

.c2 {
  background-color: #dc62f1;
  height: 40px;
}

.c3 {
  background-color: #ff0606;
  height: 45px;
}

.c4 {
  background-color: #d4311b;
  height: 50px;
}

.c5 {
  background-color: #8c14a1;
  height: 70px;
}